ul{
    font-size: 2rem;
    list-style: none;
    & .complete{
        text-decoration: line-through;
        color: #999;
        
    }
    &>li{
        padding: 30px;
        margin:20px 10px ;

        cursor: pointer;
        border: 1px solid #333;
        border-radius: 10px;

        background-color: aquamarine;
        color: deeppink;
    }

}